<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- 예: DB 컬럼명이 user_name일 때, 자바 객체의 필드명 userName과 자동 연결해 준다 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
</configuration>